@mixin animazioneTop($distanza: 20px, $durata: 1s, $delay) {
  opacity: 0;
  transform: translateY($distanza);
  animation: attacare $durata $delay both;
  @keyframes attacare {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
