@import "./partials/reset";
@import "./partials/color";
@import "./partials/font";
@import "./partials/spaziature";
@import "./partials/bottoni";
@import "./partials/animazioni";

body {
  font-family: $myFont;
}
main {
  margin: 3rem;
}
.contenitore-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav;
  padding-inline: 3rem;

  img {
    width: 15%;
  }
  nav {
    a {
      color: $testo;
      font-size: $font-size-large;
      margin-inline: 1rem;
    }
  }
}

button {
  @include bottoni;
  animation: attacare 3s 1s backwards;

  &:hover {
    transform: translateX(10px);
  }
}

button:nth-of-type(1) {
  background-color: $bottone1;
}

button:nth-of-type(2) {
  background-color: $bottone2;
}

button:nth-of-type(3) {
  background-color: $bottone3;
}

.section1 {
  @include animazioneTop(30px, 3s, 0.1s);
  display: flex;
  color: $testo;
  background-color: $bg_hero;
  padding: 1.5rem;
  div {
    width: 50%;
  }
  h1 {
    font-size: $font-size-extra-lage;
  }
  div p {
    font-size: $font-size-large;
  }
  div img {
    width: 100%;
    object-fit: cover;
  }
}

.section2 {
  display: flex;
  justify-content: space-between;
  margin-block-start: 3rem;
  img {
    width: 20%;
  }
}
